#estudosPrincipal{
    min-height: 100vh;
    width: 100%;
    background-color: #428EFF;
}

/* ==============Cabecalho===================== */

#estudosPrincipal #estudosCabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#estudosPrincipal #estudosCabecalho img#verRanking{
    height: 100px;
    cursor: pointer;
}
#estudosPrincipal #estudosCabecalho button{
    height: 40px;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

#estudosPrincipal #estudosCabecalho button#btnMeuHeroi{
    width: 150px;
    background-color: #fed22b;
}
#estudosPrincipal #estudosCabecalho button#btnMeuHeroi:hover{
    width: 150px;
    background-color: #e3b400;
}
#estudosPrincipal #estudosCabecalho button#btnSair{
    width: 50px;
    background-color: #ff3e3e;
}
#estudosPrincipal #estudosCabecalho button#btnSair:hover{
    width: 50px;
    background-color: #dd2020;
}

#btnCafezinho{
    margin-top: 10px;
    width: 204px;
    background-color: #4bce56;
}

#imagensCabecalho{
    flex-wrap: initial;
}

.btnSemEstilo{
    border: 0;
    background-color: transparent;
}

/* ==========================Conteudo======================== */

#estudosPrincipal #estudosConteudo{
    width: 100%;
    margin: 50px auto;
}
#estudosPrincipal #estudosConteudo h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

/* ==================Div - Materiais================== */

#estudosPrincipal #estudosConteudo #estudoConteudoMateriais{
    display: flex;
    margin: 100px 0 0 0;
}
/* ================Garoto/Garota=========== */
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais div#materiais{
    flex: 1;
}
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais img{
    height: 300px;
}

/* ======================Botoes - Materiais=================== */

#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais{
    display: flex;
    flex-direction: column;
}
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais button.conteudoBotao{
    transition: 0.5s;
    height: 50px;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #97C0FF;
    cursor: pointer;
    margin: 10px 0;
}
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais button.conteudoBotao:hover{
    transition: 0.5s;
    background-color: #a9cbff;
}

#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais button.conteudoBotaoBloqueado{
    transition: 0.5s;
    height: 50px;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #d7edffc9;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais button.conteudoBotaoBloqueado img{
    height: 100%;
}
#estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais button.conteudoBotaoBloqueado:hover{
    transition: 0.5s;
    background-color: #d9eeff;
}

/* =======================Questionario diario==================== */
#questionarioDiario, #efeitoDiario, #btnCafezinhoImg{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
#questionarioDiario img, #efeitoDiario img, #btnCafezinhoImg img{
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* =======================Responsividade - Estudos==================== */
@media(max-width: 750px) {
    #estudosPrincipal #estudosConteudo #estudoConteudoMateriais{
        flex-direction: column;
    }

    #estudosPrincipal #estudosConteudo #estudoConteudoMateriais #materiais{
        padding: 0 30px;
    }

    #estudosPrincipal #estudosConteudo #estudoConteudoMateriais img{
        max-width: 205px;
        margin: auto;
    }

    #estudosPrincipal #estudosCabecalho{
        flex-direction: column;
        height: auto;
    }
    #estudosPrincipal #estudosCabecalho button img{
        height: 60px !important;
    }
    #estudosPrincipal #estudosCabecalho #imagensCabecalho{
        margin: 35px 0;
        text-align: center;
    }
    #btnCafezinhoImg{
        display: none;
    }
    #btnCafezinho{
        display: initial;
    }
}
@media(min-width: 750px) {
    #btnCafezinhoImg{
        display: initial;
    }
    #btnCafezinho{
        display: none;
    }
}