*{
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}

/* =================Tela de carregamento============ */

#carregamento{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000000d6;
  z-index: 2;
  flex-direction: column;
  color: white;
  font-size: 25px;
}
#carregamento #divImgCarregamento{
  height: 225px;
}
#carregamento img{
  animation: animacaoImg 1s infinite alternate;
}


/* =====================Mensagens de aviso na tela============ */
#mensagemTela{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #000000d6;
  z-index: 2;
  color: white;
  font-size: 25px;
}

/* ==================Animacoes================= */

@keyframes animacaoImg {
  from {
    height: 225px;
  }

  to {
    height: 190px;
  }
}